@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-black;
}
.slider {
  -webkit-appearance: none;
  height: 100%;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 40px;
  min-height: 40px;
  background-image: url(../src/assets/slide.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
